@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins:wght@400;500;700&display=swap');

//font colors
$text-color:#121212;
$primary-color:#6C52ED;
$primary-btn-color:#ffffff;
$white-color:#ffffff;
$call-to-action-bg:#e5e0ff;
$footer-bg-color:#353547;
$footer-link-color: #CBCBCB;

//font size
$hero-title-font-size: 45px;
$title-font-size: 34px;
$subtitle-font-size:27px;
$client-logo-title-font-size: 24px;
$card-title-font-size:23px;
$image-link-title-size: 20px;
$text-font-size: 18px;
$btn-font-size: 16px;
$footer-font-size:14px;



//font size for mobile
$phone-hero-title-font-size: 24px;
$phone-text-font-size: 12px;
$phone-btn-font-size: 16px;


//font family
$font-family:"Inter";

//background colors
$hero-bg-color: #F0F5FF;

//font weight
$hero-font-weight: 700;
$card-title: 600;
$btn-font-weight: 500;
$text-font-weight: 400;
$footer-font-weight:600;


//line height
$hero-title-line-height: 54px;
$title-line-height:40px;
$subtitle-line-height:32px;
$text-line-height: 28px;
$footer-line-height:24px;

//line-height for mobile
$phone-hero-title-line-height: 28px;
$phone-text-line-height: 20px;
