@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins:wght@400;500;700&display=swap');
@import '../abstracts/mixins';
@import '../abstracts/variables';

.hero-title{
    @include textStyle($text-13xl,$bold,$font-family,$hero-title-line-height,$text-color);
    text-align: left !important;
    @include respond(tab-land){
        font-size: $text-4xl;
        line-height: $phone-hero-title-line-height;
    }

}

.title{
    margin-top: 60px;
    @include textStyle($text-8xl,$bold,$font-family,$title-line-height,$text-color);
    @include titleTabLand;
}
.title-white{
    @include textStyle($text-8xl,$bold,$font-family,$title-line-height,$white-color);
    @include titleTabLand;
}
.title-blue{
    @include textStyle($text-8xl,$bold,$font-family,$title-line-height,$primary-color);
    @include titleTabLand;
}
.subtitle{
    @include textStyle($text-6xl,$bold,$font-family,$subtitle-line-height,$text-color);
    @include titleTabLand;
}
.client-logo-title{
    margin-top: 60px;
    @include textStyle($text-4xl,$bold,$font-family,$subtitle-line-height,$text-color);
    @include titleTabLand;
    
}
.contact-subtitle{
    @include textStyle($text-4xl,$bold,$font-family,$subtitle-line-height,$white-color);
    @include titleTabLand;
    
}
.text{
    @include textStyle($text-lg,$normal,$font-family,$text-line-height,$text-color);
    @include respond(tab-land){
        font-size: $text-xs;
        line-height: $phone-text-line-height;
    }

}

//mega menu typography

.mega-menu-main-title{
    @include textStyle($text-6xl,$bold,$font-family,$text-line-height,$mega-menu-main-title-color);
    text-align: left !important;
}
.mega-menu-title{
    @include textStyle($text-xs,$medium,$font-family,$text-line-height,$mega-menu-title-color);
    text-align: left !important;
    margin-bottom: 0 !important;
}
.mega-menu-text{
    @include textStyle($text-xs,$normal,$font-family,$normal-line-height,$text-color);
    text-align: left !important;
    margin: 0 !important;
}

.mega-menu-subtitle{
    @include textStyle($text-md,$bold,$font-family,$text-line-height,$text-color);
    text-align: left !important;
    margin: 0 !important;
    a{
        color: inherit;
    }
    transition: all .4s ease;
    .fa-chevron-right{
        font-size: $text-mini;
        color: $primary-color;
    }
    &:hover{
        color: $primary-color;
    }
}
.text-link{
    color: $primary-color;
}
// ::placeholder { 
//     color: $text-color !important;
//     font-weight: $normal !important;
//     opacity: 1; 
//   }